* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    height: 500px;
    text-align: center;
    padding: 50px;
}
h2{
    margin: 10px;
    padding: 0;
    
}
p{
    margin: 0;
    padding: 0;
    text-align: center;
}
.login, form {
    background-color: lightblue;
    width: 18em;
    margin: auto;
    padding: 0.5em;
    position: relative;
    width: 15em;
    border-radius: 5px;
    text-align: center;
}
input[name="user"]{
    width: 11.1em;
    margin: 5px;
}
input[name="pass"]{
    width: 9.5em;
    margin: 5px;
}
#btn{
    width: 5em;
    margin: 5px 0 0 11em;
}
.error{
    color: red;
    font-style: italic;
    margin: 10em 0em;
    position: absolute;
}